#box{
	width: 80%;
}
button{
	width: 8rem;
	height: 4rem;
	font-size: 1rem;
	margin-right: 0.625rem;
	margin-bottom: 0.625rem;
}
#input{
	width: 38rem;
}
input{
	width: 36rem;
}
#a,#b,#c{
	display: none;
}
