body {
	margin: 0rem;
}

h1 {
	margin: 0rem;
	padding: 0.25rem;
	color: aliceblue;
	background: red;
}

div {
	margin: 0.625rem auto;
}
a {
	text-decoration: none;
	color: aliceblue;
}

a:hover {
	color: gray;
}
